---
import AboutUs from "@/components/AboutUs.astro";
import Clients from "@/components/Clients.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import HeroCarousel from "@/components/HeroCarousel";
import Numbers from "@/components/Numbers.astro";

// Page metadata
const pageTitle = "Organización Cucharello";
const pageDescription =
  "Con experiencia en seguros de élite potenciada por tecnología innovadora, Organización Cucharello es la correduría de seguros moderna del siglo XXI.";
---

<Layout title={pageTitle} description={pageDescription}>
  <main class="relative z-0">
    <Hero />
    <section class="h-auto bg-lightwhite rounded-4xl relative z-10">
      <Clients />
      <AboutUs />
    </section>
    <HeroCarousel client:load />
    <section class="h-auto bg-lightwhite rounded-4xl relative z-10 -mt-5">
      <Numbers />
    </section>
  </main>
</Layout>
