---
import AboutUs from "@/components/AboutUs.astro";
import Clients from "@/components/Clients.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import HeroCarousel from "@/components/HeroCarousel";
import Numbers from "@/components/Numbers.astro";
import Services from "@/components/Services.astro";
import FAQ from "@/components/FAQ.astro";
import Footer from "@/components/Footer.astro";

// Page metadata
const pageTitle = "Organización Cucharello";
const pageDescription =
  "Con experiencia en seguros de élite potenciada por tecnología innovadora, Organización Cucharello es la correduría de seguros moderna del siglo XXI.";
---

<Layout title={pageTitle} description={pageDescription}>
  <main class="relative z-0">
    <HeroCarousel client:load />
    <section class="h-auto bg-lightwhite rounded-4xl relative z-10">
      <Clients />
      <AboutUs />
    </section>
    <Hero />
    <section class="h-auto bg-lightwhite rounded-4xl relative z-10 -mt-5 pb-10">
      <Numbers />
    </section>
    <section class="h-auto bg-primary rounded-4xl relative z-11 -mt-10 pb-10">
      <Services />
    </section>
    <section
      class="h-auto bg-lightwhite rounded-4xl relative z-10 -mt-10 pb-10"
    >
      <FAQ />
    </section>
  </main>
</Layout>
