---
import BrandsLoop from "../components/BrandsLoop.jsx";
---

<section class="h-[100vh] bg-white rounded-4xl relative">
  <hr
    class="w-[90%] md:w-[80%] border-t border-gray-400 absolute top-20 left-1/2 transform -translate-x-1/2"
  /><div class="h-24 md:h-48"></div>
  <div
    class="flex justify-between md:flex-row flex-col mx-auto w-[90%] md:w-[80%] gap-5 md:gap-0 mt-4 md:mt-0 mb-15"
  >
    <h2 class="text-4xl sm:text-5xl">Clientes Que Confian</h2>
    <p class="mx-auto md:mx-0 w-full md:w-1/3 text-lg">
      Nuestros expertos asesoran a empresas en todas las etapas de crecimiento
      sobre estrategias que se alinean con su filosofía de beneficios.
    </p>
  </div>
  <BrandsLoop client:load />
</section>
