---
// Import the CSS for animations
import "../styles/dialog-animations.css";
import { AstroDialog, AstroDialogTrigger } from "./AstroDialog2";
---

<div class="dialog-container">
  <AstroDialogTrigger
    dialogId="quote-dialog"
    className="flex items-center  bg-primary text-white hover:bg-white hover:text-background text-xl py-4 border-1 border-gray-400"
    client:load
  >
    Habla con un asesor
  </AstroDialogTrigger>
</div>

<AstroDialog
  client:load
  id="quote-dialog"
  isOpen={false}
  onClose={() => {}}
  title="Dejenos su consulta"
  description="Llena el formulario y nos pondremos en contacto contigo a la brevedad."
>
  <form
    class="space-y-4 pt-4"
    action="https://formsubmit.co/cucharello@gmail.com"
    method="POST"
    id="contactForm"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="space-y-2">
        <label class="block text-sm font-medium" for="first-name">
          Nombre:
        </label>
        <input
          id="first-name"
          name="Nombre"
          class="w-full rounded-md border border-gray-300 px-3 py-2"
          placeholder="Ingrese su nombre"
          required
        />
      </div>
      <div class="space-y-2">
        <label class="block text-sm font-medium" for="last-name">
          Apellido:
        </label>
        <input
          id="last-name"
          name="Apellido"
          class="w-full rounded-md border border-gray-300 px-3 py-2"
          placeholder="Ingrese su apellido"
          required
        />
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="space-y-2">
        <label class="block text-sm font-medium" for="email"> Email: </label>
        <input
          id="email"
          name="Correo Electronico"
          type="email"
          class="w-full rounded-md border border-gray-300 px-3 py-2"
          placeholder="Ingrese su email"
          required
        />
      </div>
      <div class="space-y-2">
        <label class="block text-sm font-medium" for="phone"> Telefono: </label>
        <input
          id="phone"
          name="Teléfono"
          type="tel"
          class="w-full rounded-md border border-gray-300 px-3 py-2"
          placeholder="Ingrese su email"
          required
        />
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="space-y-2">
        <label class="block text-sm font-medium" for="city"> Localidad: </label>
        <input
          id="city"
          name="Localidad"
          class="w-full rounded-md border border-gray-300 px-3 py-2"
          placeholder="Ingrese su localidad"
          required
        />
      </div>
      <div class="space-y-2">
        <label class="block text-sm font-medium" for="motivo-select">
          Motivo:
        </label>
        <select
          name="motivo"
          id="motivo-select"
          class="w-full rounded-md border border-gray-300 px-3 py-2"
          required
        >
          <option value="">--Elija una opción--</option>
          <option value="cotizar">Cotizar</option>
          <option value="consulta">Consulta</option>
          <option value="productores">Productores</option>
        </select>
      </div>
    </div>
    <div class="space-y-2">
      <label class="block text-sm font-medium" for="message">
        ¿Cómo podemos ayudarte?
      </label>
      <textarea
        name="Mensaje"
        id="message"
        required="message"
        class="w-full min-h-[100px] rounded-md border border-gray-300 px-3 py-2 resize-y"
        placeholder="Contanos qué tipo de seguro necesitas."
        required></textarea>
    </div>

    <button
      type="submit"
      class="w-full rounded-md bg-primary/80 py-2 px-4 font-medium text-white hover:bg-primary"
    >
      Enviar
    </button>
    <input
      type="hidden"
      name="_next"
      value="https://villaivan.github.io/KC-project3/"
    />
    <input type="hidden" name="_subject" id="formSubject" value="" />
    <input type="hidden" name="_captcha" value="false" />
  </form>
</AstroDialog>

<script>
  const contactForm = document.getElementById("contactForm");
  if (contactForm) {
    contactForm.addEventListener("submit", function (e) {
      let motivoSelect = document.getElementById("motivo-select");
      let formSubject = document.getElementById("formSubject");

      if (
        motivoSelect instanceof HTMLSelectElement &&
        formSubject instanceof HTMLInputElement
      ) {
        let motivo = motivoSelect.value;
        formSubject.value = motivo;
      }
    });
  }
</script>
