---
import GlowLineAnimation from "../components/GlowLineAnimation.jsx";
import FaqItem from "@/components/FaqItem.jsx";
---

<div
  class="relative h-24 flex items-center justify-center overflow-hidden"
  id="FAQ"
>
  <svg
    class="w-[90%] md:w-[80%] h-2"
    viewBox="0 0 1440 2"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0 1 L1440 1" stroke="#ccc" stroke-width="2"></path>
    <path id="glow-scan" d="M0 1 L0 1" stroke="#0a549c" stroke-width="2"></path>
  </svg>
  <GlowLineAnimation client:load />
</div>

<div
  class="grid grid-cols-1 lg:grid-cols-2 mx-auto w-[90%] md:w-[80%] gap-5 md:gap-0 mt-4 md:mt-20 mb-5"
>
  <div class="flex flex-col md:gap-2 gap-6">
    <h2 class="text-4xl sm:text-5xl flex flex-row md:flex-col gap-2">
      <span>Preguntas</span><span>Frecuentes</span>
    </h2>
    <p class="mx-auto md:mx-0 w-full md:w-1/2 text-lg">
      Encuentre respuestas a preguntas comunes sobre nuestros servicios de
      seguros.
    </p>
  </div>
  <div>
    <section class="w-full">
      <div class="mx-auto w-[90%] md:w-[80%] space-y-4 flex flex-col gap-4">
        <FaqItem
          client:load
          question="¿A qué incidente se considera siniestro?"
          answer="Siniestro es un acontecimiento que origina daños concretos que se encuentran garantizados en la póliza contratada."
        />
        <FaqItem
          client:load
          question="Como modifico los datos de mi póliza?"
          answer="Contactáte con nosotros y te indicaremos cómo hacerlo: Línea gratuita para consultas +54 9 221 424-5284 de lunes a viernes, de 8 a 20 h."
        />
        <FaqItem
          client:load
          question="Qué hago si tuve un siniestro?"
          answer={`Tenés que dar aviso a la aseguradora dentro de las 72h de producido el acontecimiento para que podamos ingresar una denuncia administrativa en la que se detallará: día, hora, lugar del siniestro, daños de tu vehículo. Y en caso que haya terceros involucrados: sus datos personales, los de su seguro y lesiones y/o daños materiales que hayan sufrido.

Cuanto antes nos brindes la información del siniestro, más rápido podremos brindarte una adecuada respuesta.`}
        />

        <FaqItem
          client:load
          question="Cómo realizo el reclamo en la compañia del tercero con el que tuve el siniestro?"
          answer="Contactate con la Compañía de Seguros del tercero involucrado en el choque para que te indiquen los pasos a seguir. Este trámite debés realizarlo de manera particular, es decir, que tu seguro no interviene ante el seguro del tercero."
        />
        <FaqItem
          client:load
          question="Qué es la franquicia?"
          answer={`La franquicia es un monto fijo que abona el asegurado en la reparación del daño propio por siniestro. El excedente del costo corre por cuenta de la aseguradora.`}
        />
      </div>
    </section>
  </div>
</div>
