---
import DialogWrapper from "@/components/DialogWrapper.astro";
import Logo from "@/components/assets/Logo.png";
import Iso from "@/components/assets/Iso.png";
---

<header class="main-tool-bar fixed top-0 left-0 w-full z-50 bg-transparent">
  <nav
    class="max-w-[90%] mx-auto flex items-center justify-between px-4 md:px-8 py-3 md:py-6 bg-background rounded-2xl my-6 border-1 border-gray-400 gap-4"
  >
    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <a href="#">
        <!-- Logo para pantallas sm en adelante -->
        <img
          src={Logo.src}
          alt="Logo desktop"
          class="sm:block w-auto sm:h-14 md:h-16 object-cover"
        />
      </a>
      <!-- <p class="font-bold text-4xl text-white">LOGO</p> -->
    </div>

    <!-- Navigation Links -->
    <ul
      class="hidden md:flex space-x-6 md:space-x-10 text-md font-medium text-white"
    >
      <li><a href="#" class="hover:text-gray-400 font-normal">Servicios</a></li>
      <li><a href="#" class="hover:text-gray-400 font-normal">Nosotros</a></li>
      <li><a href="#" class="hover:text-gray-400 font-normal">Links</a></li>
    </ul>

    <!-- CTA Button -->
    <DialogWrapper />
  </nav>
</header>
