---
import DialogWrapper from "@/components/DialogWrapper.astro";
---

<header class="main-tool-bar fixed top-0 left-0 w-full z-50 bg-transparent">
  <nav
    class="max-w-[90%] mx-auto flex items-center justify-between px-8 py-6 bg-primary rounded-2xl my-6 border-1 border-gray-400"
  >
    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <p class="font-bold text-4xl text-white">LOGO</p>
    </div>

    <!-- Navigation Links -->
    <ul class="hidden md:flex space-x-10 text-md font-medium text-white">
      <li><a href="#" class="hover:text-gray-400 font-normal">Servicios</a></li>
      <li><a href="#" class="hover:text-gray-400 font-normal">Nosotros</a></li>
      <li><a href="#" class="hover:text-gray-400 font-normal">Links</a></li>
    </ul>

    <!-- CTA Button -->
    <DialogWrapper />
  </nav>
</header>
