<div
  class="flex flex-col lg:flex-row gap-5 sm:justify-between my-10 w-[90%] md:w-[80%] mx-auto"
>
  <div
    class="m-auto lg:border-r lg:border-primary px-3 lg:px-10 text-lg lg:text-sm"
  >
    <h6 class="flex sm:flex-col mb-0">N° de inscripción SSN:</h6>
    <p>Seguros Generales 2059</p>
  </div>

  <div
    class="w-full lg:w-[16%] text-center lg:text-left m-auto text-lg lg:text-sm"
  >
    <h6>Departamento de Orientación y asistencia al Asegurado</h6>
  </div>

  <div
    class="text-primary m-auto p-2 lg:pr-10 text-lg lg:border-r lg:border-primary"
  >
    <a href="tel:+08006668400">
      <h4>0800-666-8400</h4>
    </a>
  </div>

  <div class="font-medium text-primary m-auto text-lg md:text-lg lg:text-xl">
    <a target="_blank" href="http://www.argentina.gob.ar/ssn">
      <h4>www.argentina.gob.ar/ssn</h4>
    </a>
  </div>

  <div class="text-right m-auto">
    <a
      href="http://www.argentina.gob.ar/ssn"
      target="_blank"
      title="Superintendencia de Seguros de la Nación"
    >
      <img
        loading="lazy"
        width="234"
        height="38"
        alt="SSN - Superintendencia de Seguros de la Nación"
        src="https://www.fedpat.com.ar/wp-content/themes/fedpat2017SEO/images/ssn-logo.png"
        class="text-center"
      />
    </a>
  </div>
</div>
