---
import GlowLineAnimation from "../components/GlowLineAnimation.jsx";
import Swiper from "./Swiper.jsx";
---

<div
  class="relative h-24 flex items-center justify-center overflow-hidden mb-0 md:mb-20 pt-0 md:pt-24 mt-10"
  id="servicios"
>
  <svg
    class="w-[90%] md:w-[80%] h-2"
    viewBox="0 0 1440 2"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0 1 L1440 1" stroke="#ccc" stroke-width="2"></path>
    <path id="glow-scan" d="M0 1 L0 1" stroke="#FFFFFF" stroke-width="2"></path>
  </svg>
  <GlowLineAnimation client:load />
</div>

<div
  class="flex justify-between md:flex-row flex-col mx-auto w-[90%] md:w-[80%] gap-5 md:gap-0 mt-4 md:mt-20 mb-15"
>
  <h2 class="text-4xl sm:text-5xl text-white">
    Conocé nuestros servicios para vos
  </h2>
</div>

<div class="mx-auto w-[90%] md:w-full mt-10">
  <Swiper client:load />
</div>
